.align-l {
    text-align: left;
}
.align-c {
    text-align: center;
}
.align-r {
    text-align: center;
}


.float-l {
    float: left;
}
.float-r {
    float: right;
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;

    &.img-width {
        width: 100%;
    }
}


.ov-scroll {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

