//convert font-size in rem
@function rem($px) {
    @return $px / $font-size-base + 0rem;
}

// px to vw
@function vw($target) {
    $vw-context: ($width-screen*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}


// px to vmax
@function vmax($target) {
    $vmax-context: ($width-screen*.01) * 1px;
    @return ($target/$vmax-context) * 1vmax;
}


// px to vh
@function vh($target) {
    $vh-context: ($height-screen*.01) * 1px;
    @return ($target/$vh-context) * 1vw;
}

@mixin list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}


@mixin links-all {
    &:link,
    &:visited,
    &:focus,
    &:hover {
        @content;
    }
}


// @include font("NameFont", "path");
@mixin fonts($alias, $name, $weight:normal, $style:normal) {
    @font-face {
        font-family: $alias;
        src: url("../fonts/" + $name + ".woff2") format("woff2"),
        url("../fonts/" + $name + ".woff") format("woff");
        font-weight: $weight;
        font-style: $style;
    }
}




//.block { @include desktop { @content; } }
//1440*900
@mixin desktop {
    @media (max-width: 1440px) {
        @content;
    }
}

//1366*768
@mixin laptop-wide {
    @media (max-width: 1366px) {
        @content;
    }
}

//1024*768
@mixin laptop {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tablet-small {
    @media (max-width: 640px) {
        @content;
    }
}

@mixin phone-large {
    @media (max-width: 540px) {
        @content;
    }
}

@mixin phone {
    @media (max-width: 375px) {
        @content;
    }
}

@mixin note-height {
    @media (max-height: 800px) {
        @content;
    }
}


// @include placeholder(#000);
@mixin placeholder($color: #000) {
    &:-moz-placeholder,
    &::-moz-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}


// transition
@mixin transition($transition-property: all) {
    transition: $transition-property $transition-time $transition-effect;
}


// Вставка иконок png из спрайта
// @extend .icon-name;


// svg
@mixin svg-icon($icon-file-name, $icon-size-width, $icon-size-height) {    
    width: $icon-size-width;
    height: $icon-size-height;
    background-size: $icon-size-width $icon-size-height;    
    background-image: url("#{$img-dir-path}icons-svg/#{$icon-file-name}");
}