//@include fonts("NameFont", "path");

// @include fonts("Arimo", "ArimoBold", bold);
// @include fonts("Arimo", "ArimoBoldItalic", bold, italic);
// @include fonts("Arimo", "ArimoItalic", italic);
// @include fonts("Arimo", "ArimoRegular");

b,
strong {
    font-weight: $font-weight-bold;
}

a {
    color: $link-color;
    -webkit-tap-highlight-color: transparent;
    @include transition(color);
}

p {
    margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: .5rem 0;
    line-height: $line-height-sm;
    font-weight: $font-weight-regular;
}

h1, .h1 {
    font-size: vmax(36px);
}

h2, .h2 {
    font-size: vmax(32px);
}

h3, .h3 {
    font-size: vmax(28px);
}

h4, .h4 {
    font-size: vmax(24px);
}

h5, .h5 {
    font-size: vmax(18px);
}

h6, .h6 {
    font-size: vmax(16px);
}